md-grid-list {
    margin-top: 10px;
    margin-left: 45px;
    margin-right: 45px;
}

.mdl-grid {
    padding: 30px;
}

.card-content {
    word-wrap: break-word;
}

.card-container {
    margin: 10px;
}

.mdl-button--fab {
    bottom: 0;
    position: absolute;
    margin: 25px;
    right: 0px;
    background: #fc4c02;
}

.mdl-button--fab:hover {
    background: #ff7233;
}

@media (max-width: 840px) {
    .mdl-grid {
        padding: 10px !important;
    }

    .mdl-cell--6-col {
        width: 100% !important;
    }
}

@media (min-width: 840px) {
    .mdl-cell--6-col {
        width: 50% !important;
    }
}
