<div class="mdl-grid">
    <div class="mdl-cell--6-col mdl-cell-4-col-tablet display-animation" [hidden]="show_spinner">
        <div *ngFor="let sample of samples; let i = index" class="card-container">
            <md-card *ngIf="i%2 == 0" class="w3-animate-zoom card-content">
                <md-card-title>{{sample.displayName}}</md-card-title>
                <md-card-content class="secondary w3-animate-opacity">
                    {{sample.description}}
                </md-card-content>
                <md-card-actions align="end">
                    <button md-button color="primary" (click)="updateSample(sample)">UPDATE</button>
                    <button md-button color="red" (click)="deleteSample(sample)">DELETE</button>
                </md-card-actions>
            </md-card>
        </div>
    </div>

    <div class="mdl-cell--6-col mdl-cell-4-col-tablet display-animation" [hidden]="show_spinner">
        <div *ngFor="let sample of samples; let i = index" class="card-container">
            <md-card *ngIf="i%2 != 0" class="w3-animate-zoom card-content">
                <md-card-title>{{sample.displayName}}</md-card-title>
                <md-card-content class="secondary w3-animate-opacity">
                    {{sample.description}}
                </md-card-content>
                <md-card-actions align="end">
                    <button md-button color="primary" (click)="updateSample(sample)">UPDATE</button>
                    <button md-button color="red" (click)="deleteSample(sample)">DELETE</button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
    <div class="container-padded" [hidden]="!show_spinner">
        <div class="mdl-spinner mdl-js-spinner is-active left-center">
        </div>
        <h4 style="text-align:center" *ngIf="sample">Updating {{sample.name}}.. <br>It will take a while, go grab a
            coffee!</h4>
    </div>
</div>

<div *ngIf="samples">
    <div [hidden]="(!authenticated || samples.length > 0)" class="message-container">
        <h3 style="color: #757575;"><i class="material-icons">error_outline</i></h3><br>
        <h4 style="margin-top: 0; color: #757575; font-weight: 300">You haven't contributed any samples yet.</h4>
    </div>
</div>

<div *ngIf="!samples" class="message-container">
    <div class="mdl-spinner progress-circle mdl-spinner--single-color mdl-js-spinner is-active"></div>
</div>

<button [hidden]="!authenticated"
        class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"
        (click)="openAddSample()">
    <i class="material-icons" style="color: white">add</i>
</button>
