<div id="toast" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <h5 class="page-header">{{title}}</h5>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
                <button md-icon-button [hidden]="authenticated" (click)="doLogin()">
                    <md-icon>account_circle</md-icon>
                    LOGIN
                </button>

                <button class="dropdown" md-icon-button [hidden]="!authenticated || isMobile" id="env-menu-right">
                    {{selectedEnv}}
                    <md-icon>keyboard_arrow_down</md-icon>
                </button>

                <ul [hidden]="!authenticated" class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    data-mdl-for="env-menu-right">
                    <li class="mdl-menu__item" (click)="setEnv('test')">test</li>
                    <li class="mdl-menu__item" (click)="setEnv('prod')">prod</li>
                </ul>

                <ul [hidden]="!authenticated" class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    data-mdl-for="org-menu-right">
                    <li class="mdl-menu__item" *ngFor="let org of orgs" (click)="setOrg(org.organization)">
                        {{org.organization}}
                    </li>
                </ul>

                <button class="dropdown" md-icon-button [hidden]="!authenticated || isMobile" id="org-menu-right">
                    {{selectedOrg}}
                    <md-icon>keyboard_arrow_down</md-icon>
                </button>

                <ul [hidden]="!authenticated" class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    data-mdl-for="org-menu-right">
                    <li class="mdl-menu__item" *ngFor="let org of orgs" (click)="setOrg(org.organization)">
                        {{org.organization}}
                    </li>
                </ul>

                <button [hidden]="!authenticated" md-icon-button id="menu-right" class="user-actions">
                    <md-icon>account_circle</md-icon>
                    <span *ngIf="authenticated">{{username}}</span>
                </button>

                <ul [hidden]="!authenticated" class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" data-mdl-for="menu-right">
                    <li disabled class="mdl-menu__item mdl-dropdown__user">{{email}}</li>
                    <li class="mdl-menu__item" (click)="doLogout()">Logout</li>
                </ul>
            </div>
            <div class="mdl-layout__header-row toolbar" [hidden]="!authenticated || !isMobile">
                <span class="fill-remaining"></span>

                <button class="dropdown" md-icon-button id="env-menu-right-mob">
                    {{selectedEnv}}
                    <md-icon>keyboard_arrow_down</md-icon>
                </button>

                <ul [hidden]="!authenticated" class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    data-mdl-for="env-menu-right-mob">
                    <li class="mdl-menu__item" (click)="setEnv('test')">test</li>
                    <li class="mdl-menu__item" (click)="setEnv('prod')">prod</li>
                </ul>

                <button class="dropdown" md-icon-button id="org-menu-right-mob">
                    {{selectedOrg}}
                    <md-icon>keyboard_arrow_down</md-icon>
                </button>

                <ul [hidden]="!authenticated" class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    data-mdl-for="org-menu-right-mob">
                    <li class="mdl-menu__item" *ngFor="let org of orgs" (click)="setOrg(org.organization)">
                        {{org.organization}}
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title"><a class="mainLogo"></a> Seed</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link sidenav-link" (click)="navigateTo('samples', 'Samples')">
                <md-icon md-font-set="material-icons">leak_add</md-icon>
                <span>Samples</span>
            </a>
            <a class="mdl-navigation__link sidenav-link" (click)="navigateTo('add', 'Contribute')">
                <md-icon md-font-set="material-icons">create</md-icon>
                <span>Contribute</span>
            </a>
            <a *ngIf="authenticated" class="mdl-navigation__link sidenav-link" (click)="navigateTo('tasks', 'Tasks')">
                <md-icon md-font-set="material-icons">device_hub</md-icon>
                <span>Tasks</span>
            </a>
        </nav>
        <div class="bottom-links">
            <span>
                <a href="https://community.apigee.com" target="_blank">Community</a> -
                <a href="https://edge.apigee.com" target="_blank">Edge</a> -
                <a href="https://apigee.com/appservices/" target="_blank">BaaS</a>
            </span>
            <br>
            <span style="font-size: smaller">© 2016 Apigee</span>
        </div>
    </div>
    <main class="mdl-layout__content">
        <div class="{{contentClass}}">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>
