<div *ngIf="tasks">
    <table [hidden]="!authenticated || tasks.length <= 0"
           class="mdl-data-table mdl-js-data-table mdl-shadow--2dp w3-animate-top">
        <thead>
        <tr>
            <th>ID</th>
            <th>Sample</th>
            <th>Task</th>
            <th>Env.</th>
            <th>Author</th>
            <th>Status</th>
            <th>Time</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let task of tasks">
            <td>{{task.id}}</td>
            <td>{{task.name}}</td>
            <td>{{task.task}}</td>
            <td>{{task.env}}</td>
            <td>{{task.author}}</td>
            <td><span class="{{statusTag(task.status)}}">{{task.status}}</span></td>
            <td>{{task.time | date:'mediumDate'}}, {{task.time | date:'shortTime'}}</td>
        </tr>
        </tbody>
    </table>

    <p class="sub-message" align="center" [hidden]="!authenticated || tasks.length <= 0">Showing last 10 deployments for the selected org</p>


    <div [hidden]="taskLoading">
        <div [hidden]="(!authenticated || tasks.length > 0)" class="message-container">
            <h3 style="color: #757575;"><i class="material-icons">error_outline</i></h3><br>
            <h4 style="margin-top: 0; color: #757575; font-weight: 300">Task list not available the selected org.</h4>
        </div>
    </div>

    <div class="message-container" [hidden]="!taskLoading">
        <div class="mdl-spinner progress-circle mdl-spinner--single-color mdl-js-spinner is-active"></div>
    </div>
</div>


<div [hidden]="authenticated" class="message-container">
    <h3 style="color: #757575;"><i class="material-icons">error_outline</i></h3><br>
    <h4 style="margin-top: 0; color: #757575; font-weight: 300">You need to be logged in to view this page.</h4>
</div>
