.message-container {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    top: 290px;
}

.message-container h3 {
    margin: 0px;
}

.message-container h3 i {
    font-size: 100px;
}

.message-container .mdl-spinner {
    margin-top: 100px;
}

.sub-message {
    color: #757575;
    text-transform: uppercase;
    padding: 15px;
    font-style: italic;
    font-size: 12px;
}
