<div class="w3-animate-opacity w3-animate-left container-padded">
    <md-card [hidden]="!hide_form && authenticated">
        <md-card-title>Contribution Guide</md-card-title>
        <md-card-content [innerHTML]="contribGuide">

        </md-card-content>
        <md-card-actions align="end">
            <button md-button [hidden]="!authenticated" (click)="toggleGuide()">OK, GOTCHA!</button>
            <button md-button [hidden]="authenticated" (click)="doLogin()">LOGIN TO CONTRIBUTE</button>
        </md-card-actions>
    </md-card>

    <div class="add-box" [hidden]="show_spinner">
        <md-card [hidden]="hide_form || !authenticated">
            <md-card-title>Add a new Sample</md-card-title>
            <md-card-content>
                <form [formGroup]="sampleForm" class="mdl-grid">
                    <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input formControlName="name" ngDefaultControl class="mdl-textfield__input" type="text" id="fm-name">
                        <label class="mdl-textfield__label" for="fm-name">Name</label>
                    </div>
                    <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <textarea formControlName="description" ngDefaultControl class="mdl-textfield__input" type="text" rows= "2" id="fm-desc" ></textarea>
                        <label class="mdl-textfield__label" for="fm-desc">Description</label>
                    </div>
                    <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input formControlName="gitURL" ngDefaultControl class="mdl-textfield__input" type="text" id="fm-git">
                        <label class="mdl-textfield__label" for="fm-git">GitHub Repo. URL</label>
                    </div>
                    <div class="mdl-cell--4-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input formControlName="apiFolder" ngDefaultControl class="mdl-textfield__input" type="text" id="fm-apiFolder">
                        <label class="mdl-textfield__label" for="fm-apiFolder">API Folder</label>
                    </div>
                    <div class="input-fix mdl-cell--4-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input formControlName="envVars" ngDefaultControl class="mdl-textfield__input" type="text" id="fm-envVars">
                        <label class="mdl-textfield__label" for="fm-envVars">Environment Variables</label>
                    </div>
                    <div class="input-fix mdl-cell--4-col mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
                        <select formControlName="sampleType" ngDefaultControl id="sl-sample-type" class="mdl-selectfield__select" (change)="onChange($event.target.value)">
                            <option value=""></option>
                            <option value="security">Security</option>
                            <option value="solution">Solution</option>
                            <option value="traffic-management">Traffic Management</option>
                        </select>
                        <label class="mdl-selectfield__label" for="sl-sample-type">Sample Type</label>
                        <span class="mdl-selectfield__error">Select a value</span>
                    </div>
                </form>
            </md-card-content>
            <md-card-actions align="end">
                <button md-button (click)="toggleGuide()">SHOW GUIDE</button>
                <button md-button (click)="save()" [disabled]="!sampleForm.valid">ADD</button>
            </md-card-actions>
        </md-card>
    </div>

    <div class="container-padded" [hidden]="!show_spinner">
        <div class="mdl-spinner mdl-js-spinner is-active left-center">
        </div>
        <h4 style="text-align:center" *ngIf="sample">Saving {{sample.name}}.. <br>It will take a while, go grab a
            coffee!</h4>
    </div>
</div>
