md-input {
    width: 100%;
}

.add-box {
    margin-left: 200px;
    margin-right: 200px;
}

.input-fix {
    margin-left: 5px !important;
}

.dropdown {
    padding: 5px;
}

.dropdown:hover {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
}

.mdl-selectfield__select {
    padding: 5px 0;
}

@media (max-width: 1140px) {
    .add-box {
        margin-left: 0;
        margin-right: 0;
    }
    .input-fix {
        margin-left: 0 !important;
    }
}
