<div *ngIf="dataLoaded">
    <div class="sticky-card">
        <md-card *ngIf="sample" class="w3-animate-top">
            <md-card-title>{{sample.displayName}}</md-card-title>
            <md-card-content>
                <span class="content-user">Added by {{sample.user.user_email}} on {{sample.addedOn | date:'mediumDate'}}, {{sample.addedOn | date:'shortTime'}}</span>
                <div [innerHTML]="sample.description"></div>
            </md-card-content>
            <md-card-actions align="end">
                <a md-button href="{{sample.gitURL}}" target="_blank">VIEW REPO</a>
                <a md-button [hidden]="!authenticated" (click)="deploy()">DEPLOY</a>
                <a md-button [hidden]="!authenticated" (click)="clean()">CLEAN</a>
            </md-card-actions>
        </md-card>
    </div>

    <div *ngIf="!authenticated" class="w3-animate-opacity" style="padding-top: 170px">
        <md-tab-group [selectedIndex]="selectedIndex">
            <md-tab>
                <template md-tab-label>Description</template>
                <template md-tab-content>
                    <p class="card-description" [innerHTML]="sample.long_description"></p>
                </template>
            </md-tab>
        </md-tab-group>
    </div>

    <div *ngIf="authenticated" class="w3-animate-opacity" style="padding-top: 170px">
        <md-tab-group [selectedIndex]="selectedIndex">
            <md-tab>
                <template md-tab-label>Description</template>
                <template md-tab-content>
                    <p class="card-description" [innerHTML]="sample.long_description"></p>
                </template>
            </md-tab>
            <md-tab>
                <template md-tab-label>Task Logs</template>
                <template md-tab-content>
                    <p class="card-description" style="padding-top: 20px" [innerHTML]="taskLogs"></p>
                </template>
            </md-tab>
            <md-tab>
                <template md-tab-label>Test</template>
                <template md-tab-content>
                    <p [innerHTML]="testHtml"></p>
                </template>
            </md-tab>
        </md-tab-group>
    </div>

</div>
