<div>
    <div class="sticky-card">
        <md-card *ngIf="sample" class="w3-animate-top">
            <md-card-title>{{sample.displayName}}</md-card-title>
            <md-card-content>
                <div [innerHTML]="sample.description"></div>
            </md-card-content>
            <md-card-actions align="end" [hidden]="!authenticated">
                <!--<a md-button (click)="runTest()">TEST</a>-->
                <button md-button (click)="deploy()">DEPLOY</button>
            </md-card-actions>
        </md-card>
    </div>

    <div *ngIf="tabs" class="w3-animate-opacity" style="padding-top: 150px">

        <md-tab-group [selectedIndex]="selectedIndex">
            <md-tab *ngFor="let tab of tabs; let i = index">
                <template md-tab-label>{{tab.label}}</template>
                <template md-tab-content>
                    <p [hidden]="!tab.padding" style="padding-left: 35px; padding-right: 35px"
                       [innerHTML]="tab.content"></p>
                    <p [hidden]="tab.padding" [innerHTML]="tab.content"></p>
                </template>
            </md-tab>
        </md-tab-group>
    </div>

</div>
